<a href="https://colab.research.google.com/github/sum-it22/assetpricing/blob/master/MTP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np

In [7]:
df  = pd.read_excel('data.xlsx',sheet_name = ['Primary Dataset','Collected Data','Body size data'])

In [4]:
df1 = df.get('Primary Dataset')

Processing the primary dataset to get the unique values

In [9]:
df1.columns

Index(['occurrence_no', 'collection_no', 'identified_name', 'accepted_name',
       'accepted_rank', 'max_ma', 'min_ma', 'genus', 'order', 'family',
       'paleolng', 'paleolat', 'geoplate', 'lithology1',
       'Our Lithologic \nCategory', 'lithology2', 'environment',
       'our environment cateogory', 'motility', 'life_habit', 'diet',
       'thickness', 'species_name', 'primary_reference'],
      dtype='object')

In [10]:
df1 = df1.drop_duplicates(subset='genus', keep="first")

In [11]:
df1.shape

(1102, 24)

In [12]:
df1.rename(columns = {'genus':'Genus'}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [14]:
df2 = df.get('Collected Data')
df3 = df.get('Body size data')

In [15]:
df4 = pd.read_excel('New_data.xlsx')

In [25]:
df4.shape

(559, 5)

In [18]:
df4.columns

Index(['Genus', 'Length (mm) \n(In Treatise)', 'Height (mm)\n(In Treatise)',
       'Inflation \n(In Treatise)', 'Magnification \n(In Treatise)'],
      dtype='object')

In [17]:
df4 = df4[['Genus', 'Length (mm) \n(In Treatise)', 'Height (mm)\n(In Treatise)',
       'Inflation \n(In Treatise)', 'Magnification \n(In Treatise)']]

In [19]:
from functools import reduce

In [20]:
data_frames = [ df1,df2, df3,df4]
df_m = reduce(lambda  left,right: pd.merge(left,right,on=['Genus'],
                                            how='outer'), data_frames)

In [28]:
df_m.columns

Index(['occurrence_no', 'collection_no', 'identified_name', 'accepted_name',
       'accepted_rank', 'max_ma', 'min_ma', 'Genus', 'order', 'family',
       'paleolng', 'paleolat', 'geoplate', 'lithology1',
       'Our Lithologic \nCategory', 'lithology2', 'environment',
       'our environment cateogory', 'motility', 'life_habit', 'diet',
       'thickness', 'species_name', 'primary_reference', 'Order_x',
       'Super family_x', 'Family_x', 'Sub family_x', 'First \nOccurrence',
       'Last \nOccurrence', 'Longivity', 'Occurrence', 'Life mode',
       'Feeding mode \n(diet)', 'Motility', 'Siliciclastic', 'Carbonate',
       'Mixed', 'Others', 'Unnamed: 16', 'Peritidal', 'Nearshore',
       'Offshore shoal', 'Shallow shelf', 'Deep shelf', 'Slope & Basin',
       'Reef', 'Terrestrial', 'Others.1', 'Environmental \n Breadth',
       'Thickness', 'Species richness (no. of species within a genus)',
       'Geographic range \n(genus level)', 'Length \n(In Treatise)',
       'Height \n(In Treatise)', 'Inflation \n(In Treatise)_x',
       'Magnification \n(In Treatise)_x', 'Plate No._x', 'Page No._x',
       'Order_y', 'Super family_y', 'Family_y', 'Sub family_y',
       'Length (mm) \n(In Treatise)_x', 'Height (mm)\n(In Treatise)_x',
       'Inflation \n(In Treatise)_y', 'Magnification \n(In Treatise)_y',
       'Plate No._y', 'Page No._y', 'Notes', 'Length (mm) \n(In Treatise)_y',
       'Height (mm)\n(In Treatise)_y', 'Inflation \n(In Treatise)',
       'Magnification \n(In Treatise)'],
      dtype='object')

In [32]:
df_m = df_m.dropna(subset = ['Length (mm) \n(In Treatise)_y'])

In [33]:
df_m.shape

(433, 74)

In [34]:
df_m.to_csv('check.csv')

In [35]:
df_m.columns

Index(['occurrence_no', 'collection_no', 'identified_name', 'accepted_name',
       'accepted_rank', 'max_ma', 'min_ma', 'Genus', 'order', 'family',
       'paleolng', 'paleolat', 'geoplate', 'lithology1',
       'Our Lithologic \nCategory', 'lithology2', 'environment',
       'our environment cateogory', 'motility', 'life_habit', 'diet',
       'thickness', 'species_name', 'primary_reference', 'Order_x',
       'Super family_x', 'Family_x', 'Sub family_x', 'First \nOccurrence',
       'Last \nOccurrence', 'Longivity', 'Occurrence', 'Life mode',
       'Feeding mode \n(diet)', 'Motility', 'Siliciclastic', 'Carbonate',
       'Mixed', 'Others', 'Unnamed: 16', 'Peritidal', 'Nearshore',
       'Offshore shoal', 'Shallow shelf', 'Deep shelf', 'Slope & Basin',
       'Reef', 'Terrestrial', 'Others.1', 'Environmental \n Breadth',
       'Thickness', 'Species richness (no. of species within a genus)',
       'Geographic range \n(genus level)', 'Length \n(In Treatise)',
       'Height \n(In Treatise)', 'Inflation \n(In Treatise)_x',
       'Magnification \n(In Treatise)_x', 'Plate No._x', 'Page No._x',
       'Order_y', 'Super family_y', 'Family_y', 'Sub family_y',
       'Length (mm) \n(In Treatise)_x', 'Height (mm)\n(In Treatise)_x',
       'Inflation \n(In Treatise)_y', 'Magnification \n(In Treatise)_y',
       'Plate No._y', 'Page No._y', 'Notes', 'Length (mm) \n(In Treatise)_y',
       'Height (mm)\n(In Treatise)_y', 'Inflation \n(In Treatise)',
       'Magnification \n(In Treatise)'],
      dtype='object')

In [36]:
df_c=df_m[['occurrence_no', 'collection_no', 'identified_name', 'accepted_name',
       'accepted_rank', 'max_ma', 'min_ma', 'Genus', 'order', 'family',
       'paleolng', 'paleolat', 'geoplate', 'lithology1',
       'Our Lithologic \nCategory', 'lithology2', 'environment',
       'our environment cateogory', 'motility', 'life_habit', 'diet',
       'thickness', 'species_name', 'primary_reference', 'Order_x',
       'Super family_x', 'Family_x', 'Sub family_x', 'First \nOccurrence',
       'Last \nOccurrence', 'Longivity', 'Occurrence', 'Life mode',
       'Feeding mode \n(diet)', 'Motility', 'Siliciclastic', 'Carbonate',
       'Mixed', 'Others', 'Unnamed: 16', 'Peritidal', 'Nearshore',
       'Offshore shoal', 'Shallow shelf', 'Deep shelf', 'Slope & Basin',
       'Reef', 'Terrestrial', 'Others.1', 'Environmental \n Breadth',
       'Thickness', 'Species richness (no. of species within a genus)',
       'Geographic range \n(genus level)', 'Length (mm) \n(In Treatise)_y',
       'Height (mm)\n(In Treatise)_y',
       'Magnification \n(In Treatise)']]

In [40]:
df_c.to_excel('final_dataset.xlsx')

In [ ]:
df1 = df1.set_index('Genus')
df2 = df2.set_index('Genus')
df3 = df3.set_index('Genus')

In [ ]:
#df1.rename(columns = {'genus' : 'Genus'}, inplace = True)

In [ ]:
df1.head(10)

,occurrence_no,collection_no,identified_name,accepted_name,accepted_rank,max_ma,min_ma,order,family,paleolng,...,Our Lithologic \nCategory,lithology2,environment,our environment cateogory,motility,life_habit,diet,thickness,species_name,primary_reference
Genus,,,,,,,,,,,,,,,,,,,,,
Actinodonta,414435,40092,Davidia antiqua,Actinodonta,genus,66.0,56.0,Actinodontida,Cycloconchidae,-68.48,...,siliciclastic,NaN,fluvial indet.,terrestrial,facultatively mobile,infaunal,suspension feeder,NaN,antiqua,S. R. Manchester. 2002. Leaves and fruits of D...
Actinodonta,416879,40390,Davidia antiqua,Actinodonta,genus,66.0,56.0,Actinodontida,Cycloconchidae,-67.29,...,coal,NaN,fluvial indet.,terrestrial,facultatively mobile,infaunal,suspension feeder,NaN,antiqua,S. R. Manchester. 2002. Leaves and fruits of D...
Actinodonta,298365,28640,Davidia antiqua,Davidia antiqua,species,61.7,56.8,Actinodontida,Cycloconchidae,-76.54,...,siliciclastic,NaN,wet floodplain,terrestrial,facultatively mobile,infaunal,suspension feeder,NaN,antiqua,P. Wilf. 2000. Late Paleocene-early Eocene cli...
Actinodonta,298366,28641,Davidia antiqua,Davidia antiqua,species,61.7,56.8,Actinodontida,Cycloconchidae,-76.55,...,siliciclastic,NaN,wet floodplain,terrestrial,facultatively mobile,infaunal,suspension feeder,NaN,antiqua,P. Wilf. 2000. Late Paleocene-early Eocene cli...
Actinodonta,298367,28643,Davidia antiqua,Davidia antiqua,species,61.7,56.8,Actinodontida,Cycloconchidae,-76.57,...,siliciclastic,NaN,wet floodplain,terrestrial,facultatively mobile,infaunal,suspension feeder,NaN,antiqua,P. Wilf. 2000. Late Paleocene-early Eocene cli...
Actinodonta,298368,28651,Davidia antiqua,Davidia antiqua,species,56.8,55.8,Actinodontida,Cycloconchidae,-79.74,...,siliciclastic,NaN,wet floodplain,terrestrial,facultatively mobile,infaunal,suspension feeder,NaN,antiqua,P. Wilf. 2000. Late Paleocene-early Eocene cli...
Actinodonta,298369,28654,Davidia antiqua,Davidia antiqua,species,56.8,55.8,Actinodontida,Cycloconchidae,-79.74,...,siliciclastic,NaN,wet floodplain,terrestrial,facultatively mobile,infaunal,suspension feeder,NaN,antiqua,P. Wilf. 2000. Late Paleocene-early Eocene cli...
Actinodonta,298370,28656,Davidia antiqua,Davidia antiqua,species,58.7,55.8,Actinodontida,Cycloconchidae,-79.67,...,siliciclastic,NaN,wet floodplain,terrestrial,facultatively mobile,infaunal,suspension feeder,NaN,antiqua,P. Wilf. 2000. Late Paleocene-early Eocene cli...
Actinodonta,298371,28670,Davidia antiqua,Davidia antiqua,species,58.7,55.8,Actinodontida,Cycloconchidae,-79.49,...,siliciclastic,NaN,wet floodplain,terrestrial,facultatively mobile,infaunal,suspension feeder,NaN,antiqua,P. Wilf. 2000. Late Paleocene-early Eocene cli...
Actinodonta,414436,40092,Davidia antiqua,Davidia antiqua,species,66.0,56.0,Actinodontida,Cycloconchidae,-68.48,...,siliciclastic,NaN,fluvial indet.,terrestrial,facultatively mobile,infaunal,suspension feeder,NaN,antiqua,S. R. Manchester. 2002. Leaves and fruits of D...

In [ ]:
from functools import reduce

In [ ]:
data_frames = [ df1,df2, df3]
df_m = reduce(lambda  left,right: pd.merge(left,right,on=['Genus'],
                                            how='outer'), data_frames)

In [ ]:
df_m.head(100)

,occurrence_no,collection_no,identified_name,accepted_name,accepted_rank,max_ma,min_ma,order,family,paleolng,...,Super family_y,Family_y,Sub family_y,Length (mm) \n(In Treatise),Height (mm)\n(In Treatise),Inflation \n(In Treatise)_y,Magnification \n(In Treatise)_y,Plate No._y,Page No._y,Notes
Genus,,,,,,,,,,,,,,,,,,,,,
Actinodonta,414435.0,40092.0,Davidia antiqua,Actinodonta,genus,66.0,56.0,Actinodontida,Cycloconchidae,-68.48,...,Cycloconchacea,Cycloconchidae,NaN,52.0,29.2,NaN,1.00,"D8,5",N400,NaN
Actinodonta,416879.0,40390.0,Davidia antiqua,Actinodonta,genus,66.0,56.0,Actinodontida,Cycloconchidae,-67.29,...,Cycloconchacea,Cycloconchidae,NaN,52.0,29.2,NaN,1.00,"D8,5",N400,NaN
Actinodonta,298365.0,28640.0,Davidia antiqua,Davidia antiqua,species,61.7,56.8,Actinodontida,Cycloconchidae,-76.54,...,Cycloconchacea,Cycloconchidae,NaN,52.0,29.2,NaN,1.00,"D8,5",N400,NaN
Actinodonta,298366.0,28641.0,Davidia antiqua,Davidia antiqua,species,61.7,56.8,Actinodontida,Cycloconchidae,-76.55,...,Cycloconchacea,Cycloconchidae,NaN,52.0,29.2,NaN,1.00,"D8,5",N400,NaN
Actinodonta,298367.0,28643.0,Davidia antiqua,Davidia antiqua,species,61.7,56.8,Actinodontida,Cycloconchidae,-76.57,...,Cycloconchacea,Cycloconchidae,NaN,52.0,29.2,NaN,1.00,"D8,5",N400,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Arca,29016.0,2195.0,Arca dubisiensis,Arca,genus,129.4,125.0,Arcida,Arcidae,30.01,...,Arcacea,Arcidae,Arcinae,78.0,35.5,NaN,0.85,"C2,3a",N251,A.(Arca) has been measured instead of Arca
Arca,24586.0,1757.0,Arca dupiniana,Arca,genus,125.0,113.0,Arcida,Arcidae,24.91,...,Arcacea,Arcidae,Arcinae,78.0,35.5,NaN,0.85,"C2,3a",N251,A.(Arca) has been measured instead of Arca
Arca,24837.0,1778.0,Arca dupiniana,Arca,genus,125.0,113.0,Arcida,Arcidae,27.06,...,Arcacea,Arcidae,Arcinae,78.0,35.5,NaN,0.85,"C2,3a",N251,A.(Arca) has been measured instead of Arca
Arca,25501.0,1844.0,Arca dupiniana,Arca,genus,113.0,100.5,Arcida,Arcidae,21.03,...,Arcacea,Arcidae,Arcinae,78.0,35.5,NaN,0.85,"C2,3a",N251,A.(Arca) has been measured instead of Arca
Arca,25693.0,1856.0,Arca dupiniana,Arca,genus,125.0,113.0,Arcida,Arcidae,24.40,...,Arcacea,Arcidae,Arcinae,78.0,35.5,NaN,0.85,"C2,3a",N251,A.(Arca) has been measured instead of Arca

In [ ]:
df_m.columns

Index(['occurrence_no', 'collection_no', 'identified_name', 'accepted_name',
       'accepted_rank', 'max_ma', 'min_ma', 'order', 'family', 'paleolng',
       'paleolat', 'geoplate', 'lithology1', 'Our Lithologic \nCategory',
       'lithology2', 'environment', 'our environment cateogory', 'motility',
       'life_habit', 'diet', 'thickness', 'species_name', 'primary_reference',
       'Order_x', 'Super family_x', 'Family_x', 'Sub family_x',
       'First \nOccurrence', 'Last \nOccurrence', 'Longivity', 'Occurrence',
       'Life mode', 'Feeding mode \n(diet)', 'Motility', 'Siliciclastic',
       'Carbonate', 'Mixed', 'Others', 'Unnamed: 16', 'Peritidal', 'Nearshore',
       'Offshore shoal', 'Shallow shelf', 'Deep shelf', 'Slope & Basin',
       'Reef', 'Terrestrial', 'Others.1', 'Environmental \n Breadth',
       'Thickness', 'Species richness (no. of species within a genus)',
       'Geographic range \n(genus level)', 'Length \n(In Treatise)',
       'Height \n(In Treatise)', 'Inflation \n(In Treatise)_x',
       'Magnification \n(In Treatise)_x', 'Plate No._x', 'Page No._x',
       'Order_y', 'Super family_y', 'Family_y', 'Sub family_y',
       'Length (mm) \n(In Treatise)', 'Height (mm)\n(In Treatise)',
       'Inflation \n(In Treatise)_y', 'Magnification \n(In Treatise)_y',
       'Plate No._y', 'Page No._y', 'Notes'],
      dtype='object')

In [ ]:
def categorise(row):  
  try:
    if row['First \nOccurrence'] >= float(66) and row['Last \nOccurrence'] == float(66):
        return 'yes'
    return 'no'
  except:
    return 'no'

In [ ]:
df_m['target'] = df_m.apply(lambda row: categorise(row), axis=1)

In [ ]:
#for i in df_m['target']:
 # if i=='yes':
  #  print(df_m['target'])
  #else:
   # print('lol')

In [ ]:
df_m.columns

Index(['occurrence_no', 'collection_no', 'identified_name', 'accepted_name',
       'accepted_rank', 'max_ma', 'min_ma', 'order', 'family', 'paleolng',
       'paleolat', 'geoplate', 'lithology1', 'Our Lithologic \nCategory',
       'lithology2', 'environment', 'our environment cateogory', 'motility',
       'life_habit', 'diet', 'thickness', 'species_name', 'primary_reference',
       'Order_x', 'Super family_x', 'Family_x', 'Sub family_x',
       'First \nOccurrence', 'Last \nOccurrence', 'Longivity', 'Occurrence',
       'Life mode', 'Feeding mode \n(diet)', 'Motility', 'Siliciclastic',
       'Carbonate', 'Mixed', 'Others', 'Unnamed: 16', 'Peritidal', 'Nearshore',
       'Offshore shoal', 'Shallow shelf', 'Deep shelf', 'Slope & Basin',
       'Reef', 'Terrestrial', 'Others.1', 'Environmental \n Breadth',
       'Thickness', 'Species richness (no. of species within a genus)',
       'Geographic range \n(genus level)', 'Length \n(In Treatise)',
       'Height \n(In Treatise)', 'Inflation \n(In Treatise)_x',
       'Magnification \n(In Treatise)_x', 'Plate No._x', 'Page No._x',
       'Order_y', 'Super family_y', 'Family_y', 'Sub family_y',
       'Length (mm) \n(In Treatise)', 'Height (mm)\n(In Treatise)',
       'Inflation \n(In Treatise)_y', 'Magnification \n(In Treatise)_y',
       'Plate No._y', 'Page No._y', 'Notes', 'target'],
      dtype='object')

In [ ]:
df_m.shape

(43005, 70)

In [ ]:
df_m['Length \n(In Treatise)']

Genus
Actinodonta                                                                                                     NaN
Actinodonta                                                                                                     NaN
Actinodonta                                                                                                     NaN
Actinodonta                                                                                                     NaN
Actinodonta                                                                                                     NaN
                                                                                                                 ..
Venus                                                                                                           NaN
Venus                                                                                                           NaN
Venus (Venus)                                                                                                   NaN
Vesicomya (Calyptogena)                                                                                         NaN
                                                                                                                NaN
Name: Length \n(In Treatise), Length: 43005, dtype: float64

In [ ]:
df_m.head(100)

,occurrence_no,collection_no,identified_name,accepted_name,accepted_rank,max_ma,min_ma,order,family,paleolng,...,Family_y,Sub family_y,Length (mm) \n(In Treatise),Height (mm)\n(In Treatise),Inflation \n(In Treatise)_y,Magnification \n(In Treatise)_y,Plate No._y,Page No._y,Notes,target
Genus,,,,,,,,,,,,,,,,,,,,,
Actinodonta,414435.0,40092.0,Davidia antiqua,Actinodonta,genus,66.0,56.0,Actinodontida,Cycloconchidae,-68.48,...,Cycloconchidae,NaN,52.0,29.2,NaN,1.00,"D8,5",N400,NaN,no
Actinodonta,416879.0,40390.0,Davidia antiqua,Actinodonta,genus,66.0,56.0,Actinodontida,Cycloconchidae,-67.29,...,Cycloconchidae,NaN,52.0,29.2,NaN,1.00,"D8,5",N400,NaN,no
Actinodonta,298365.0,28640.0,Davidia antiqua,Davidia antiqua,species,61.7,56.8,Actinodontida,Cycloconchidae,-76.54,...,Cycloconchidae,NaN,52.0,29.2,NaN,1.00,"D8,5",N400,NaN,no
Actinodonta,298366.0,28641.0,Davidia antiqua,Davidia antiqua,species,61.7,56.8,Actinodontida,Cycloconchidae,-76.55,...,Cycloconchidae,NaN,52.0,29.2,NaN,1.00,"D8,5",N400,NaN,no
Actinodonta,298367.0,28643.0,Davidia antiqua,Davidia antiqua,species,61.7,56.8,Actinodontida,Cycloconchidae,-76.57,...,Cycloconchidae,NaN,52.0,29.2,NaN,1.00,"D8,5",N400,NaN,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Arca,29016.0,2195.0,Arca dubisiensis,Arca,genus,129.4,125.0,Arcida,Arcidae,30.01,...,Arcidae,Arcinae,78.0,35.5,NaN,0.85,"C2,3a",N251,A.(Arca) has been measured instead of Arca,no
Arca,24586.0,1757.0,Arca dupiniana,Arca,genus,125.0,113.0,Arcida,Arcidae,24.91,...,Arcidae,Arcinae,78.0,35.5,NaN,0.85,"C2,3a",N251,A.(Arca) has been measured instead of Arca,no
Arca,24837.0,1778.0,Arca dupiniana,Arca,genus,125.0,113.0,Arcida,Arcidae,27.06,...,Arcidae,Arcinae,78.0,35.5,NaN,0.85,"C2,3a",N251,A.(Arca) has been measured instead of Arca,no
Arca,25501.0,1844.0,Arca dupiniana,Arca,genus,113.0,100.5,Arcida,Arcidae,21.03,...,Arcidae,Arcinae,78.0,35.5,NaN,0.85,"C2,3a",N251,A.(Arca) has been measured instead of Arca,no
Arca,25693.0,1856.0,Arca dupiniana,Arca,genus,125.0,113.0,Arcida,Arcidae,24.40,...,Arcidae,Arcinae,78.0,35.5,NaN,0.85,"C2,3a",N251,A.(Arca) has been measured instead of Arca,no

In [ ]:
df_f = df_m[[ 'paleolng',
       'paleolat', 'geoplate', 'lithology1', 'Our Lithologic \nCategory',
       'lithology2', 'environment',  'motility',
       'life_habit', 'diet', 'thickness', 
       'Life mode', 'Feeding mode \n(diet)','Length (mm) \n(In Treatise)', 'Height (mm)\n(In Treatise)','target']]

In [ ]:
df_f.head(10)

,paleolng,paleolat,geoplate,lithology1,Our Lithologic \nCategory,lithology2,environment,motility,life_habit,diet,thickness,Life mode,Feeding mode \n(diet),Length (mm) \n(In Treatise),Height (mm)\n(In Treatise),target
Genus,,,,,,,,,,,,,,,,
Actinodonta,-68.48,55.21,101,"""shale""",siliciclastic,NaN,fluvial indet.,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.2,no
Actinodonta,-67.29,54.72,101,coal,coal,NaN,fluvial indet.,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.2,no
Actinodonta,-76.54,51.12,101,claystone,siliciclastic,NaN,wet floodplain,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.2,no
Actinodonta,-76.55,51.10,101,claystone,siliciclastic,NaN,wet floodplain,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.2,no
Actinodonta,-76.57,51.11,101,claystone,siliciclastic,NaN,wet floodplain,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.2,no
Actinodonta,-79.74,50.01,101,sandstone,siliciclastic,NaN,wet floodplain,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.2,no
Actinodonta,-79.74,50.01,101,sandstone,siliciclastic,NaN,wet floodplain,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.2,no
Actinodonta,-79.67,50.40,101,siltstone,siliciclastic,NaN,wet floodplain,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.2,no
Actinodonta,-79.49,49.92,101,sandstone,siliciclastic,NaN,wet floodplain,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.2,no
Actinodonta,-68.48,55.21,101,"""shale""",siliciclastic,NaN,fluvial indet.,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.2,no

In [ ]:
df_f['Length (mm) \n(In Treatise)']= df_m['Length (mm) \n(In Treatise)']*df_m['Magnification \n(In Treatise)_y']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_f['Height (mm)\n(In Treatise)']= df_m['Height (mm)\n(In Treatise)']*df_m['Magnification \n(In Treatise)_y']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_f.head(100)

,paleolng,paleolat,geoplate,lithology1,Our Lithologic \nCategory,lithology2,environment,motility,life_habit,diet,thickness,Life mode,Feeding mode \n(diet),Length (mm) \n(In Treatise),Height (mm)\n(In Treatise),target
Genus,,,,,,,,,,,,,,,,
Actinodonta,-68.48,55.21,101,"""shale""",siliciclastic,NaN,fluvial indet.,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.200,no
Actinodonta,-67.29,54.72,101,coal,coal,NaN,fluvial indet.,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.200,no
Actinodonta,-76.54,51.12,101,claystone,siliciclastic,NaN,wet floodplain,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.200,no
Actinodonta,-76.55,51.10,101,claystone,siliciclastic,NaN,wet floodplain,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.200,no
Actinodonta,-76.57,51.11,101,claystone,siliciclastic,NaN,wet floodplain,facultatively mobile,infaunal,suspension feeder,NaN,infaunal,suspension feeder,52.0,29.200,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Arca,30.01,33.42,305,"""carbonate""",carbonate,NaN,NaN,"stationary, attached",epifaunal,suspension feeder,intermediate,epifaunal,suspension feeder,66.3,30.175,no
Arca,24.91,40.74,315,sandstone,siliciclastic,NaN,marine indet.,"stationary, attached",epifaunal,suspension feeder,intermediate,epifaunal,suspension feeder,66.3,30.175,no
Arca,27.06,41.03,315,"""shale""",siliciclastic,NaN,marine indet.,"stationary, attached",epifaunal,suspension feeder,intermediate,epifaunal,suspension feeder,66.3,30.175,no
Arca,21.03,46.96,315,sandstone,siliciclastic,NaN,marine indet.,"stationary, attached",epifaunal,suspension feeder,intermediate,epifaunal,suspension feeder,66.3,30.175,no
Arca,24.40,41.54,315,sandstone,siliciclastic,NaN,marine indet.,"stationary, attached",epifaunal,suspension feeder,intermediate,epifaunal,suspension feeder,66.3,30.175,no

In [ ]:
df_f = df_f.loc(df_f['Length (mm) \n(In Treatise)']==NULL)

NameError: ignored

In [ ]:
df_f.to_excel("final_data.xlsx")

In [ ]:
df_m.to_excel("final_data1.xlsx")